<table id="data" class="table">
    <thead>
        <tr>
            @for (column of columns; track column) {
            <th>{{ column }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (record of Data; track record) {
        <tr>
            @for (field of columns; track field) {
            <td>{{ record[field] }}</td>
            }
        </tr>
        }
    </tbody>
</table>
@if (pageCount > 1) {
  <div class="pagination">
    <a href="#">&laquo;</a>

    @for (page of pages; track page) {
      <a href="#">{{ page }}</a>
    }

    <a href="#">&raquo;</a>
  </div>
}
